@keyframes animationRight
    0%
        opacity: 1
    10%
        opacity: 0
    90%
        opacity: 1
    100%
        opacity: 1    

// @keyframes animationPositionCenter
//     0%
//         transform: translate3d(-39%,-0%,0)
//         left: 100%
//     100%
//         transform: translate3d(-55%,-0%,0)
//         left: 50%
    
.mobile
    display: none
.desctop
    display: block

.gift
    width: 329px
.cake
    width: 292px
.crown
    width: 237px
.feedback
    width: 424px
.hand
    width: 275px
.powder_pink_1
    width: 775px
.powder_pink_2
    width: 562px

.darts
    width: 288px
.money
    width: 350px
.coins
    width: 174px
.diamond
    width: 116px
.powder_blue_1
    width: 485px
.powder_blue_2
    width: 542px

.bag
    width: 400px
.zen
    width: 307px
.table
    width: 264px
.palm
    width: 394px
.hammock
    width: 374px
.powder_pur_1
    width: 512px
.powder_pur_2
    width: 539px
.powder_pur_3
    width: 468px

.container
    height: 100vh
    // height: 890px
    // min-height: 100vh
    width: 100%
    background-image: linear-gradient(120deg, #ff884b 30%, #fc00ff)
    position: relative
    padding-top: 90px
    overflow: hidden
    &__item-wrapper
        width: 100%
    &__wrapper-first
        width: 903px
        position: relative
        margin: 0 auto
        position: absolute
        left: 50%
        transform: translateX(-50%)
        opacity: 0
        transition: opacity 3s
        z-index: 1
        &.active
            opacity: 1
    &__wrapper-second
        width: 1020px
        position: relative
        margin: 0 auto
        opacity: 0
        position: absolute
        left: 50%
        transform: translateX(-50%)
        transition: opacity 3s
        z-index: 1
        &.active
            opacity: 1
    &__wrapper-third
        width: 1010px
        position: relative
        margin: 0 auto
        position: absolute
        left: 50%
        transform: translateX(-50%)
        opacity: 0
        transition: opacity 3s
        z-index: 1
        &.active
            opacity: 1
    &__logo
        color: #fff
        font-weight: 800
        display: flex
        font-size: 24px
        position: absolute
        top: 36px
        right: 140px
    &__logo-icon
        width: 97px
    &__logo-poligon
        position: relative
        display: inline-block
        clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%)
        width: 28px
        height: 26px
        text-align: center
        background: #dedede
        color: #FC00FF
    &__logo-circle
        position: absolute
        top: -7px
        left: 7px
        width: 13px
        height: 13px
        border-radius: 100%
        border: 3px solid #dedede
    &__logo-letter
        position: absolute
        right: 20%
    &__img-laptop
        position: absolute
        width: 598px
        top: 204px
        // top: 19%
        // left: 14%
        z-index: 3
        transition: all 1s 
        &.left
            // transform: translate3d(-50%,-0%,0)
            left: calc( 0px - 142px )
            width: 285px
        &.right
            // transform: translate3d(-39%,-0%,0)
            left: calc( 100% - 142px )
            width: 285px
            animation: animationRight 3s 
        &.active
            // animation: animationPositionCenter 1s
            // transform: translate3d(-55%,-0%,0)
            left: calc(50% - 329px)
    &__img-gift
        position: absolute
        width: 329px
        top: 449px
        transform: translate3d(-164%, 33px, 0)
        left: 50%
        z-index: 4
    &__img-cake
        position: absolute
        width: 292px
        // height: 438px
        left: 50%
        top: 455px
        transform: translate3d(-11px, -73%, 0)
        z-index: 2
    &__img-crown
        position: absolute
        width: 237px
        top: 445px
        left: 50%
        transform: translate3d(91%, -107%, 0)
        z-index: 4
    &__img-feedback
        position: absolute
        width: 424px
        left: 50%
        top: 451px
        transform: translate3d(27%, -56%, 10px)
        z-index: 3
    &__img-hand
        position: absolute
        width: 275px
        left: 50%
        top: 189px
        transform: translate3d(-187%, 10%, 0)
        z-index: 2
    &__img-powder_pink_1
        position: absolute
        width: 775px
        top: 450px
        left: 50%
        transform: translate3d(-25%, -56%, 0)
        z-index: 1
    &__img-powder_pink_2
        position: absolute
        width: 562px
        top: 442px
        left: 50%
        transform: translate3d(-103%, -38%, 0)
        z-index: 1
    &__img-tablet
        position: absolute
        top: 204px
        z-index: 3
        transition: all 1s 
        transform: translate3d(0,0,0)
        &.active
            left: calc( 50% - 271px )
            width: 522px
            // transform: translate3d(-52%,-0%,0)
        &.right
            left: calc( 100% - 148px )
            width: 353px
            // transform: translate3d(-42%,-0%,0)
            animation: animationRight 3s
        &.left
            width: 353px
            left: 0
            left: calc( 0px - 226px )
            // transform: translate3d(-64%,-0%,0)
    &__img-darts
        width: 288px
        position: absolute
        top: 440px
        left: 50%
        transform: translate3d(-147%, -85%, 0)
        z-index: 2
    &__img-money
        width: 350px
        position: absolute
        top: 448px
        left: 50%
        transform: translate3d(43%, -25%, 0)
        z-index: 2
    &__img-coins
        z-index: 4
        width: 174px
        position: absolute
        top: 460px
        left: 50%
        transform: translate3d(87%, -91%, 0)
    &__img-diamond
        z-index: 3
        width: 116px
        position: absolute
        top: 480px
        left: 50%
        transform: translate3d(250%, -166%, 0)
    &__img-powder_blue_1
        position: absolute
        width: 485px
        top: 457px
        left: 50%
        z-index: 1
        transform: translate3d(-114%, -34%, 0)
    &__img-powder_blue_2
        position: absolute
        width: 542px
        top: 444px
        left: 50%
        transform: translate3d(-9%, -52%, 0)
        z-index: 1
    &__img-message-1
        width: 264px
        position: absolute
        z-index: 4
    &__img-message-2
        width: 264px
        position: absolute
        z-index: 4
    &__img-message-3
        width: 264px
        position: absolute
        z-index: 4
    &__messages-wrapper
        position: absolute
        z-index: 4
        top: 440px
        left: 50%
        transform: translate3d(-158%, 13%, 0)
    &__message
        width: 300px
        height: 75px
        background: #fff    
        border-radius: 20px
        padding: 12px
        display: flex
        align-items: center
        margin-bottom: 15px
        position: relative
    &__message-icon
        width: 35px
        height: 35px
        border-radius: 12px
        background: red
        display: flex
        justify-content: center
        align-items: center
        margin-right: 10px
    &__message-title
        font-size: 14px
        margin-bottom: 4px
        font-weight: 700
    &__message-subtitle
        font-size: 13px
        margin-bottom: 4px
    &__message-circle
        width: 19px
        height: 19px
        background: #fff
        border-radius: 100%
    &__message-time
        position: absolute
        top: 12px
        right: 12px
        font-size: 12px
        font-weight: 500
    &__img-phone-1
        position: absolute
        // left: 25%
        // top: 23%
        top: 204px
        // left: 50%
        // transform: translate3d(-46%,-50%,0)
        width: 548px
        z-index: 4
        transition: all 1s 
        // transform: translate3d(0,0,0)
        &.active
            // transform: translate3d(-46%,-0%,0)
            left: calc( 50% - 252px )
        &.left
            left: calc( 0px - 37px )
            // transform: translate3d(-15%,-0%,0)
            width: 245px
        &.right
            left: calc( 100% - 44px )
            // transform: translate3d(-18%,-0%,0)
            width: 245px
            animation: animationRight 3s
    &__img-phone-2
        position: absolute
        top: 204px
        // left: 50%
        // transform: translate3d(-100%,-50%,0)
        // left: -2%
        // top: 25%
        width: 519px
        z-index: 3
        transition: all 1s 
        // transform: translate3d(0,0,0)
        &.active
            // transform: translate3d(-100%,22px,0)
            top: 226px
            left: calc( 50% - 519px )
        &.left
            left: calc( 0px - 147px )
            // transform: translate3d(-69%,-0%,0)
            width: 214px
        &.right
            left: calc( 100% - 169px )
            // transform: translate3d(-65%,-0%,0)
            width: 260px
            animation: animationRight 3s
    &__img-bag
        position: absolute
        top: 470px
        left: 50%
        transform: translate3d(-76%, -80%, 0)
        width: 400px
        z-index: 2
    &__img-zen
        position: absolute
        top: 458px
        left: 50%
        transform: translate3d(-187%, -45%, 0)
        width: 307px
        z-index: 2
    &__img-table
        position: absolute
        top: 453px
        left: 50%
        transform: translate3d(-159%, 29%, 0)
        width: 264px
        z-index: 5
    &__img-palm
        position: absolute
        width: 394px
        top: 455px
        left: 50%
        transform: translate3d(24%, -75%, 0)
        z-index: 2
    &__img-hammock
        position: absolute
        width: 374px
        top: 453px
        left: 50%
        transform: translate3d(7%, -42%, 0)
        z-index: 3
    &__img-powder_pur_1
        position: absolute
        top: 427px
        left: 50%
        transform: translate3d(-80%, -60%, 0)
        width: 512px
        z-index: 1
    &__img-powder_pur_2
        position: absolute
        top: 447px
        left: 50%
        transform: translate3d(-3%, -67%, 0)
        width: 539px
        z-index: 1
    &__img-powder_pur_3
        position: absolute
        top: 455px
        left: 50%
        transform: translate3d(-141%, -44%, 0)
        width: 468px
        z-index: 1
    &__btn
        position: absolute
        bottom: 25px
        left: 50%
        height: 72px
        width: 208px
        transform: translateX(-50%)
        font-size: 35px
        color: #fff
        border-radius: 14px
        background: none
        border: 5px solid #fff
        font-weight: 600
        cursor: pointer
        z-index: 8
        &:focus
            outline: none

@media ( max-width: 1276px )

    .gift
        width: 263px
    .cake
        width: 233px
    .crown
        width: 189px
    .feedback
        width: 339px
    .hand
        width: 220px
    .powder_pink_1
        width: 620px
    .powder_pink_2
        width: 449px

    .darts
        width: 230px
    .money
        width: 280px
    .coins
        width: 123px
    .diamond
        width: 93px
    .powder_blue_1
        width: 433px
    .powder_blue_2
        width: 433px

    .bag
        width: 320px
    .zen
        width: 245px
    .table
        width: 211px
    .palm
        width: 315px
    .hammock
        width: 299px
    .powder_pur_1
        width: 409px
    .powder_pur_2
        width: 431px
    .powder_pur_3
        width: 374px

    .container
        height: 100vh
        &__message
            width: 229px
            height: 54px
            border-radius: 13px
        &__message-title
            font-size: 11px
        &__messages-wrapper
            top: 418px
            transform: translate3d(-168%,-11%,0)
        &__message-time
            font-size: 10px
        &__message-icon
            width: 28px
            height: 28px
        &__message-circle
            width: 15px
            height: 15px
        &__message-subtitle
            font-size: 10px
        &__wrapper-first
            width: 669px
        &__wrapper-second
            width: 746px
        &__wrapper-third
            width: 735px
        &__img-laptop
            width: 478px
            top: 181px
            &.active
                // transform: translate3d(-50%,-20px,0)
                left: calc( 50% - 239px )
                top: 161px
            &.left
                width: 247px
        &__img-feedback
            width: 339px
            top: 345px
            transform: translate3d(31%,-56%,10px)
        &__img-hand
            width: 220px
            top: 160px
            transform: translate3d(-175%,10%,0)
        &__img-gift
            width: 263px
            top: 352px
            transform: translate3d(-155%,33px,0)
        &__img-crown
            width: 189px
            top: 350px
            left: 50%
            transform: translate3d(102%,-107%,0)
        &__img-cake
            width: 233px
            top: 349px
            transform: translate3d(16px,-73%,0)
        &__img-powder_pink_1
            width: 620px
            top: 363px
        &__img-powder_pink_2
            width: 449px
            top: 363px
        &__img-tablet
            top: 187px
            &.active
                width: 417px
                left: calc( 50% - 217px )
                // transform: translate3d(-52%,0,0)
            &.right
                width: 274px
        &__img-darts
            top: 412px
            width: 230px
            transform: translate3d(-153%,-106%,0)
        &__img-coins
            width: 123px
            top: 416px
            transform: translate3d(79%,-139%,0)
        &__img-money
            transform: translate3d(28%,-63%,0)
            width: 280px
            top: 422px
        &__img-diamond
            width: 93px
            top: 407px
            transform: translate3d(214%,-222%,0)
        &__img-powder_blue_2
            width: 433px
            top: 425px
            transform: translate3d(-12%,-67%,0)
        &__img-powder_blue_1
            transform: translate3d(-99%,-46%,0)
            top: 428px
            width: 433px
        &__img-phone-1
            width: 438px
            top: 178px
            &.active
                width: 438px
                left: calc(50% - 202px)
        &__img-phone-2
            width: 415px
            top: 191px
            &.active
                width: 415px
                top: 190px
                // transform: translate3d(-97%,0,0)
                left: calc(50% - 394px)
            &.right
                width: 245px
        &__img-table
            width: 211px
            top: 426px
            transform: translate3d(-149%,2%,0)
        &__img-zen
            width: 245px
            top: 428px
            transform: translate3d(-179%,-62%,0)
        &__img-hammock
            width: 299px
            top: 420px
            transform: translate3d(0%,-63%,0)
        &__img-palm
            width: 315px
            top: 419px
            transform: translate3d(15%,-89%,0)
        &__img-bag
            width: 320px
            top: 432px
            transform: translate3d(-72%,-95%,0)
        &__img-powder_pur_2
            width: 422px  
            transform: translate3d(-6%,-83%,0)
        &__img-powder_pur_1
            transform: translate3d(-79%,-78%,0)
            width: 409px
        &__img-powder_pur_3
            top: 426px
            transform: translate3d(-134%,-65%,0)
            width: 374px
        &__btn
            height: 63px
            width: 190px
            font-size: 28px

@media ( max-width: 1090px )
    .container
        &__img-laptop
            &.left
                left: calc( -30% - 230px )
                width: 230px
            &.right
                width: 230px
                left:  calc( 100% + 230px )
        &__img-tablet
            &.right
                width: 247px
                left: calc( 100% + 247px )
            &.left
                left: calc( -70% - 247px )
                width: 247px
        &__img-phone-1
            &.right
                left: calc( 100% + 280px )
            &.left
                left: calc( -70% - 280px )
        &__img-phone-2
            &.right
                left: calc( 100% + 300px )
            &.left
                left: calc( -70% - 300px )
    

@media ( max-width: 871px )

    .gift
        width: 197px
    .cake
        width: 174px
    .crown
        width: 141px
    .feedback
        width: 254px
    .hand
        width: 165px
    .powder_pink_1
        width: 465px
    .powder_pink_2
        width: 336px

    .darts
        width: 172px
    .money
        width: 210px
    .coins
        width: 92px
    .diamond
        width: 70px
    .powder_blue_1
        width: 325px
    .powder_blue_2
        width: 325px

    .bag
        width: 240px
    .zen
        width: 184px
    .table
        width: 158px
    .palm
        width: 236px
    .hammock
        width: 224px
    .powder_pur_1
        width: 307px
    .powder_pur_2
        width: 323px
    .powder_pur_3
        width: 280px

    .container
        &__wrapper-first
            width: 524px
        &__wrapper-second
            width: 587px
        &__wrapper-third
            width: 578px
        &__logo
            top: 24px
            right: 36px
        &__img-laptop
            &.active
                width: 380px
                left: calc(50% - 213px)
            &.left
                left: calc( -30% - 230px )
                width: 230px
                // transform: translate3d(-100%,0,0)
            &.right
                width: 230px
                left:  calc( 100% + 230px )
                // transform: translate3d(100%,0,0)
        &__img-cake
            width: 174px
            top: 310px
            transform: translate3d(13px,-73%,0)
        &__img-gift
            width: 197px
            top: 314px
        &__img-feedback
            width: 254px
            top: 309px
            transform: translate3d(33%,-56%,10px)
        &__img-crown
            width: 141px
            top: 308px
        &__img-hand
            width: 165px
        &__img-powder_pink_1
            width: 465px
            top: 320px
        &__img-powder_pink_2
            top: 322px
            width: 336px
        &__img-tablet
            &.active
                width: 312px
                left: calc( 50% - 162px )
            &.right
                width: 247px
                left: calc( 100% + 247px )
                // transform: translate3d(100%,0,0)
            &.left
                left: calc( -70% - 247px )
                width: 247px
                // transform: translate3d(-100%,0,0)
        &__img-darts
            width: 172px
            top: 355px
        &__img-coins
            width: 92px
            top: 364px
        &__img-money
            width: 210px
            transform: translate3d(32%,-63%,0)
            top: 368px
        &__img-diamond
            width: 70px
            top: 357px
        &__img-powder_blue_2
            top: 370px
            width: 325px
        &__img-powder_blue_1
            top: 370px
            width: 325px
        &__messages-wrapper
            top: 361px
            transform: translate3d(-145%,-11%,0)
        &__img-phone-1
            width: 282px
            top: 171px
            &.active
                width: 282px
                left: calc(50% - 128px)
            &.right
                left: calc( 100% + 280px )
                // transform: translate3d(100%,0,0)
            &.left
                left: calc( -70% - 280px )
                // transform: translate3d(-100%,0,0)
        &__img-phone-2
            width: 311px
            &.active
                width: 311px
                left: calc(50% - 298px)
                top: 171px
                // transform: translate3d(-97%,-20px,0)
            &.right
                // transform: translate3d(100%,0,0)
                left: calc( 100% + 300px )
            &.left
                left: calc( -70% - 300px )
                // transform: translate3d(-100%,0,0)
        &__img-table
            width: 158px
            top: 350px
        &__img-zen
            width: 184px
            top: 351px
        &__img-hammock
            width: 224px
            top: 365px
        &__img-palm
            width: 236px
            top: 348px
        &__img-bag
            width: 240px
            top: 354px
        &__img-powder_pur_2
            top: 350px
            width: 323px
        &__img-powder_pur_1
            top: 346px
            width: 307px
        &__img-powder_pur_3
            top: 363px
            width: 280px

@media (max-width: 605px)
    .mobile
        display: block
    .desctop
        display: none

    .gift
        width: 142px
    .cake
        width: 126px
    .crown
        width: 141px
    .feedback
        width: 245px

    .money
        width: 236px
    .coins
        width: 70px
    .diamond
        width: 60px

    .bag
        width: 195px
    .zen
        width: 176px
    .table
        width: 137px
    .palm
        width: 239px
    .hammock
        width: 202px

    .container
        height: 844px
        background-image: linear-gradient(164deg,#ff884b 45%,#fc00ff)
        &__messages-wrapper
            top: 50%
            left: 50%
            transform: translate3d(-25%, -10%, 0) rotate(13deg)
            z-index: 1
        &__logo-icon
            width: 72px
        &__message
            &:last-child
                display: none
            &:first-child
                display: none
        &__wrapper-first
            width: 283px
        &__wrapper-second
            width: 313px
        &__wrapper-third
            width: 311px
        &__img-laptop
            width: 326px
            top: 53%
            &.active
                // transform: translate3d(0, 0, 0)
                // transform: translate3d(-56%,-20px,0)
                top: 53%
                left: calc(50% - 212px)
        &__img-gift
            width: 142px
            top: 50%
            left: 50%
            transform: translate3d(-159%, 170%, 0)
        &__img-crown
            width: 141px
            top: 50%
            z-index: 2
            left: 50%
            transform: translate3d(-3%, 31%, 0) rotate(-43deg)
        &__img-feedback
            width: 245px
            left: 50%
            top: 50%
            transform: translate3d(-5%, -61%, 0)
        &__img-cake
            width: 126px
            left: 50%
            top: 50%
            transform: translate3d(83%, -91%, 0)
            z-index: 4
        &__img-hand
            top: 50%
            left: 50%
            transform: translate3d(9%, 41%, 0)
        &__img-powder_pink_1
            display: none
        &__img-powder_pink_2
            display: none
        &__img-powder_blue_1
            display: none
        &__img-powder_blue_2
            display: none
        &__img-money
            top: 50%
            width: 236px
            left: 50%
            transform: translate3d(-30%, 137%, 0)
        &__img-table
            width: 305px
            top: 118%
            left: -30%
        &__img-coins
            width: 70px
            top: 50%
            left: 50%
            transform: translate3d(22%, 192%, 0)
        &__img-diamond
            width: 60px
            top: 50%
            left: 50%
            transform: translate3d(-224%, 10%, 0) rotate(-80deg)
        &__img-darts
            top: 50%
            left: 50%
            transform: translate3d(-11%, 10%, 0)
        &__img-tablet
            width: 305px
            top: 54%
            &.active
                // transform: translate3d(-79%,0px,0)
                top: 54%
                left: calc( 50% - 244px )
            &.right
                left: 300%
        &__img-powder_pur_1
            display: none
        &__img-powder_pur_2
            display: none
        &__img-powder_pur_3
            display: none
        &__img-table
            width: 137px
            top: 50%
            left: 50%
            transform: translate3d(-31%, 150%, 0)
        &__img-zen
            width: 176px
            top: 50%
            left: 50%  
            transform: translate3d(-14%,32%,0)
            z-index: 5
        &__img-palm
            width: 239px
            top: 50%
            left: 50%
            transform: translate3d(5%, -46%, 0)
        &__img-bag
            width: 195px
            top: 50%
            left: 50%
            transform: translate3d(-101%,-16%,0) rotate(-17deg)
        &__img-phone-1
            width: 287px
            top: 43%
            z-index: 5
            transform: rotate(-17deg)
            &.active
                width: 287px
                transform: rotate(-17deg)
                left: calc( 50% - 170px )
                top: 50%
        &__img-phone-2
            z-index: 4
            top: 51%
            &.active
                // transform: translate3d(-86%,48px,0)
                width: 296px
                left: calc(50% - 271px)
                top: 62%
        &__img-hammock
            width: 202px
            top: 50%
            left: 50%
            transform: translate3d(-4%, 4%, 0)
        &__btn
            height: 54px
            width: 154px
            font-size: 26px
            bottom: 25px
    
