.descr
    text-transform: uppercase
    font-weight: 800
    font-size: 44px
    text-align: end
    color: #fff
    transform: translate3d(132px, 16px, 0px)
    &_second-screen
        transform: translate3d(139px, 16px, 0px)
    
@media ( max-width: 1276px ) 
    .descr
        font-size: 31px
        transform: translate3d(88px,16px,0)
        &_second-screen
            transform: translate3d(57px,16px,0)
        &_third-screen
            transform: translate3d(44px,16px,0)

@media (max-width: 871px)
    .descr
        font-size: 29px
        margin-top: 20px
        transform: translate3d(0,0,0)
        font-size: 26px

@media (max-width: 605px) 
    .descr
        font-size: 26px
        text-align: left