.descr
    text-transform: uppercase
    font-weight: 800
    font-size: 44px
    text-align: end
    color: #fff
    transform: translate3d(132px, 16px, 0px)
    &_second-screen
        transform: translate3d(139px, 16px, 0px)