.descr
    text-transform: uppercase
    font-weight: 800
    font-size: 44px
    text-align: end
    color: #fff
    transform: translate3d(132px, 16px, 0px)
    &.fadeIn
        animation: descrFadeIn 1s
        opacity: 1
    &.fadeOut
        animation: descrFadeOut 1s
        opacity: 0
    
@media ( max-width: 1276px ) 
    .descr
        font-size: 31px
        transform: translate3d(88px,16px,0)

@media (max-width: 871px)
    .descr
        font-size: 29px
        margin-top: 20px
        transform: translate3d(0,0,0)
        font-size: 26px

@media (max-width: 605px) 
    .descr
        font-size: 26px
        text-align: left

@keyframes descrFadeIn
    0%
        transform: translate3d(35%, 16px, 0px)
        opacity: 0
    100%
        transform: translate3d(132px, 16px, 0px)
        opacity: 1

@keyframes descrFadeOut
    0%
        transform: translate3d(132px, 16px, 0px)
        opacity: 1
    100%
        transform: translate3d(-25%, 16px, 0px)
        opacity: 0