.modal
    z-index: 10
    position: fixed
    width: 100%
    height: 100vh
    background: rgba(0, 0, 0, .3)
    display: none
    &.active
        display: block
    &__window
        width: 808px
        height: 570px
        padding: 55px 136px
        background: #fff
        border-radius: 48px
        position: relative
        margin: 0 auto
        top: 50%
        transform: translateY(-50%)
    &__close
        position: absolute
        right: 0
        top: 65px
        width: 48px
        height: 48px
        background-image: linear-gradient(120deg, #ff884b 30%, #fc00ff)
        border-top-left-radius: 25px
        border-bottom-left-radius: 25px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
    &__title
        text-align: end
        font-size: 48px
        font-weight: 400
        text-transform: uppercase
        line-height: 51px
        margin-bottom: 52px
    &__accent-word
        color: #FF884B
        font-weight: 800
        font-size: 56px
    &__input
        height: 55px
        width: 100%
        margin-bottom: 10px
        border-radius: 15px
        border: none
        background: #FFE7DB
        padding: 15px 37px
        font-size: 19px
        &:focus
            outline: none
    &__footer
        margin-top: 32px
        display: flex
        justify-content: flex-end
        align-items: center
    &__footer-btn
        width: 260px
        height: 54px
        border-radius: 15px
        border: none
        font-size: 26px
        background-image: linear-gradient(120deg, #ff884b 30%, #fc00ff)
        color: #fff 
        margin-left: 59px
        cursor: pointer
    &__footer-link
        color: #000 
        font-size: 19px

@media ( max-width: 838px )
    .modal
        &__window-wrapper
            max-width: 465px
        &__window
            height: 100%
            width: 95%
            left: 0
            margin: 0
            border-top-left-radius: 0
            border-bottom-left-radius: 0
            padding: 24px 24px 24px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &__title
            text-align: start
            font-size: 40px
            line-height: 42px
        &__input
            font-size: 17px
        &__accent-word
            font-size: 40px
        &__footer
            flex-direction: column
            justify-content: center
            align-items: center
        &__footer-btn
            margin: 0 0 18px 0
            order: 1
            width: 100%
            font-weight: 600
        &__footer-link
            order: 2
        
    
            