.subtitle
    font-size: 179px
    color: #fff
    font-weight: 800
    text-transform: uppercase
    line-height: 153px
    color: none
    &_transperent-1
        color: transparent
        -webkit-text-stroke: 6px #ffffffe3
    &_transperent-2
       color: transparent
       -webkit-text-stroke: 6px #ffffffb2